*{margin: 0; padding: 0}
@import "fonts.scss";
$font: 'FontAwesome'; 
$black: #000000;
$yellow: #F05623;
$blue: #005cac;
html {
    overflow-x: hidden;
}
body {
    box-sizing: border-box;
    color: #484848;
    padding: 0 !important;  
    font-size: 23px;  
    line-height: 1.6;
    transition: .3s all; 
    position: relative; 
    // font-weight: 500; 
    font-family: 'SVN-Poppins';
    background: #fff;
    color: #fff;
    h1, h2, h3, h4, h5, h6, p, label, ul, li, .card, a { 
        text-decoration: none !important;        
        transition: .3s all;    
        margin-bottom: 0;  
        outline: none !important;    
    }    
    a { 
        transition: .3s all !important; 
        color: #000000;   
        &:hover {
            color: $blue;       
        }  
    } 
    ul {    
    	padding: 0;   
    	margin: 0;  
    }   
    input, button {    
    	outline: none !important;  
    	box-shadow: none; 
    	transition: .3s all; 
    }
    .slick-slide {
    	height: auto;  
        img {
            display: inline;
        }
    }
    .container { 
        width: 100%;
        max-width: 1300px;
    } 
    img {
        max-width: 100%;
    }
    .slick-slider {
        margin-bottom: 0;
    }
    @media (max-width: 1600px) {
        font-size: 16px;
    }
    @media (max-width: 1023px) {
        font-size: 15px;
    }
}


.header-pc {
    font-size: 29px;
    font-weight: 600;
    text-transform: uppercase;
    background: #fff;
    padding: 25px 0;
    position: relative;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    a {
        color: $blue;
        &.h-regis {
            display: flex;
            align-items: center;
            height: 58px;
            color: #fff;
            background: $blue;
            padding: 0 40px;
            border-radius: 60px;
            line-height: initial;
        }
    }
    ul {
        list-style: none;
        display: flex;
        justify-content: flex-end;
            align-items: center;
        li {
            margin-right: 50px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    @media (max-width: 1600px) {
        font-size: 18px;
        padding: 10px 0;
        a {
            &.h-regis {
                height: 46px;
            }
        }
    }
    @media (max-width: 1023px) {
        font-size: 15px;
        padding: 10px 0;
        ul {
            li {
                margin-right: 20px;
            }
        }
        a {
            &.h-regis {
                height: 35px;
                padding: 0 25px;
            }
        }
        .logo {
            img {
                max-height: 45px;
            }
        }
    }
    @media (max-width: 767px) {
        display: none;
    }
}

footer {
    background: #0d1088;
    padding: 60px 0;
    ul {
        list-style: none;
    }
    @media (max-width: 767px) {
        padding: 30px 0;
    }
}

.txt-fter {
    margin-bottom: 24px;
    h4 {
        font-weight: bold;
    }
    ul {
        li {
            margin-top: 8px;
        }
    }
    @media (max-width: 1023px) {
        h4 {
            font-size: 18px;
        }
    }
    @media (max-width: 767px) {
        font-size: 12px;
        text-align: center;
    }
}
.social {
    ul {
        display: flex;
        li {
            margin-right: 22px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    @media (max-width: 767px) {
        img {
            width: 24px;
            height: 24px;
        }
        ul {
            justify-content: center;
            li {
                margin-right: 10px;
            }
        }
    }
}

.part-fter {
    ul {
        display: flex;
        flex-wrap: wrap;
        li {
            flex: 0 0 50%;
            max-width: 50%;
            padding: 20px;
            &:first-child, &:nth-child(2) {
                padding-top: 0;
            }
        }
    }
    @media (max-width: 767px) {
        margin-top: 30px;
    }
}

.header-mobile {
    padding: 12px 0;
    background: #fff;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1001;
    position: fixed;
    .logo {
        img {
            max-height: 32px;
        }
    }
    @media (max-width: 767px) {
        display: block !important;
    }
}

.btn-bar-menu {
    a {
        display: inline-flex;
        align-items: center;
        background: #0069b9;
        color: #fff !important;
        justify-content: center;
        height: 30px;
        width: 40px;
        border-radius: 5px;
        font-size: 21px;
    }
}

.nav-menu {
    background: #4daad1;
    text-align: center;
    position: fixed;
    width: 100%;
    height: calc(100% - 52px);
    top: 52px;
    left: -100%;
    transition: .4s all ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    ul {
        list-style: none;
        li {
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    a {
        color: #fff;
    }
    &.active {
        left: 0;
    }
}

main {
    @media (max-width: 767px) {
        margin-top: 56px;
    }
}