* {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: 'Mulish';
  src: url("../fonts/mulish/Mulish-BlackItalic.woff2") format("woff2"), url("../fonts/mulish/Mulish-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Mulish';
  src: url("../fonts/mulish/Mulish-Bold.woff2") format("woff2"), url("../fonts/mulish/Mulish-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Mulish';
  src: url("../fonts/mulish/Mulish-ExtraBold.woff2") format("woff2"), url("../fonts/mulish/Mulish-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Mulish';
  src: url("../fonts/mulish/Mulish-BoldItalic.woff2") format("woff2"), url("../fonts/mulish/Mulish-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Mulish';
  src: url("../fonts/mulish/Mulish-ExtraLight.woff2") format("woff2"), url("../fonts/mulish/Mulish-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Mulish';
  src: url("../fonts/mulish/Mulish-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/mulish/Mulish-ExtraBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Mulish';
  src: url("../fonts/mulish/Mulish-Italic.woff2") format("woff2"), url("../fonts/mulish/Mulish-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Mulish';
  src: url("../fonts/mulish/Mulish-ExtraLightItalic.woff2") format("woff2"), url("../fonts/mulish/Mulish-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Mulish';
  src: url("../fonts/mulish/Mulish-Light.woff2") format("woff2"), url("../fonts/mulish/Mulish-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Mulish';
  src: url("../fonts/mulish/Mulish-Regular.woff2") format("woff2"), url("../fonts/mulish/Mulish-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Mulish';
  src: url("../fonts/mulish/Mulish-LightItalic.woff2") format("woff2"), url("../fonts/mulish/Mulish-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Mulish';
  src: url("../fonts/mulish/Mulish-MediumItalic.woff2") format("woff2"), url("../fonts/mulish/Mulish-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Mulish';
  src: url("../fonts/mulish/Mulish-SemiBold.woff2") format("woff2"), url("../fonts/mulish/Mulish-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Mulish';
  src: url("../fonts/mulish/Mulish-SemiBoldItalic.woff2") format("woff2"), url("../fonts/mulish/Mulish-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Mulish';
  src: url("../fonts/mulish/Mulish-Medium.woff2") format("woff2"), url("../fonts/mulish/Mulish-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Mulish';
  src: url("../fonts/mulish/Mulish-Black.woff2") format("woff2"), url("../fonts/mulish/Mulish-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap; }
body {
  box-sizing: border-box;
  color: #484848;
  padding: 0 !important;
  font-size: 15px;
  line-height: 1.6;
  transition: .3s all;
  position: relative;
  font-weight: normal;
  font-family: 'Mulish';
  background: #fff;
  color: #000000;
  overflow-x: hidden; }
  body.active {
    overflow: hidden; }
  body h1, body h2, body h3, body h4, body h5, body h6, body p, body label, body ul, body li, body .card, body a {
    text-decoration: none !important;
    transition: .3s all;
    margin-bottom: 0;
    outline: none !important; }
  body a {
    transition: .3s all !important;
    color: #000000; }
    body a:hover {
      color: #4D5FE3; }
  body ul {
    padding: 0;
    margin: 0; }
  body input, body button {
    outline: none !important;
    box-shadow: none;
    transition: .3s all; }
  body .slick-slide {
    height: auto; }
    body .slick-slide img {
      display: inline; }
  body .container {
    width: 100%;
    max-width: 1200px; }
  body img {
    max-width: 100%; }
  body .slick-slider {
    margin-bottom: 0; }

.header-top {
  border-bottom: 1px solid #E0E0E0;
  padding: 25px 0; }
  .header-top ul {
    list-style: none; }

.head-right {
  display: flex;
  align-items: center;
  justify-content: end; }
  .head-right .social {
    margin-right: 45px; }
    .head-right .social ul {
      display: flex;
      align-items: center; }
      .head-right .social ul li {
        margin-right: 15px; }
        .head-right .social ul li:last-child {
          margin-right: 0; }
    .head-right .social a {
      display: flex;
      width: 40px;
      height: 40px;
      justify-content: center;
      align-items: center;
      background: #4D5FE3;
      color: #fff;
      border-radius: 100%;
      font-size: 18px; }

.info-head-top ul {
  display: flex;
  align-items: center; }
  .info-head-top ul li {
    display: flex;
    align-items: center;
    margin-right: 30px;
    padding-right: 30px;
    border-right: 2px solid #E0E0E0; }
    .info-head-top ul li:last-child {
      margin-right: 0;
      padding-right: 0;
      border-right: 0; }
.info-head-top .icon {
  flex: 0 0 35px;
  margin-right: 15px; }
.info-head-top span {
  color: #828282;
  font-size: 14px; }
.info-head-top p {
  color: #333333;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  top: -4px; }

.header-menu {
  position: relative; }
  .header-menu a {
    font-size: 18px;
    font-weight: 600; }
  .header-menu .col-md-9 {
    position: unset; }

.h-menu ul {
  list-style: none;
  display: flex;
  align-items: center; }
  .h-menu ul li {
    margin-right: 44px; }
    .h-menu ul li:last-child {
      margin-right: 0; }
    .h-menu ul li:hover .mega-menu {
      opacity: 1;
      pointer-events: unset; }
.h-menu a {
  display: flex;
  padding: 24px 0;
  position: relative;
  align-items: center; }
  .h-menu a.active {
    color: #4D5FE3; }
  .h-menu a i {
    margin-left: 10px; }

.box-user i {
  margin-right: 10px; }

.box-quote {
  padding: 68px 0;
  color: #fff;
  font-size: 38px;
  font-weight: 300;
  line-height: initial; }

footer {
  background: #181A2E; }

.fter-logo {
  padding: 45px 0;
  border-bottom: 1px solid #e0e0e033; }
  .fter-logo a {
    color: #fff; }
  .fter-logo ul {
    list-style: none;
    display: flex;
    align-items: center;
    font-size: 20px;
    justify-content: end; }
    .fter-logo ul li {
      margin-right: 25px; }
      .fter-logo ul li:last-child {
        margin-right: 0; }

.fter-bot {
  padding: 45px 0;
  color: #fff; }
  .fter-bot a {
    color: #fff; }
  .fter-bot ul {
    list-style: none; }
    .fter-bot ul li {
      margin-bottom: 10px;
      font-weight: 300; }
      .fter-bot ul li:last-child {
        margin-bottom: 0; }

.item-fter {
  font-size: 18px; }
  .item-fter h3 {
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 18px; }

.i-plc {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: initial;
  margin-bottom: 15px; }
  .i-plc .icon {
    flex: 0 0 35px;
    margin-right: 15px; }
  .i-plc .info {
    position: relative;
    top: -3px; }
    .i-plc .info label {
      color: #F2C94C;
      font-size: 14px;
      margin-bottom: 3px; }

.form-ct {
  position: relative;
  margin: 10px 0 15px 0; }
  .form-ct input {
    background: #394067;
    border-radius: 5px;
    border: 0;
    height: 38px;
    font-size: 16px;
    padding: 0 15px 0 40px;
    width: 100%;
    color: #fff; }
  .form-ct img {
    position: absolute;
    left: 10px;
    top: 10px; }

.box-breadcrumbs {
  padding: 40px 0;
  color: #fff; }

.info-bread h2 {
  font-size: 50px;
  font-weight: 900;
  margin-bottom: 15px; }
.info-bread a {
  color: #fff !important; }
.info-bread ul {
  list-style: none;
  display: flex;
  align-items: center; }
  .info-bread ul li {
    margin-right: 15px;
    padding-right: 15px;
    position: relative; }
    .info-bread ul li:after {
      content: "/";
      position: absolute;
      top: 0;
      right: -5px;
      color: #fff; }
    .info-bread ul li:last-child {
      margin-right: 0;
      padding-right: 0; }
      .info-bread ul li:last-child:after {
        display: none; }
      .info-bread ul li:last-child a {
        color: #FFD45F !important; }

.col-right {
  flex: 0 0 365px;
  max-width: 365px; }

.col-left {
  flex: 0 0 calc(100% - 365px);
  max-width: calc(100% - 365px); }

.mega-menu {
  background: #FFFFFF;
  box-shadow: 0px 0px 20px #0000001a;
  z-index: 10;
  position: absolute;
  left: 0;
  width: 100%;
  padding: 35px 0;
  transition: .3s all !important;
  top: 76px;
  opacity: 0;
  pointer-events: none; }
  .mega-menu .col-md-3 {
    border-right: 1px solid #E0E0E0; }
    .mega-menu .col-md-3:last-child {
      border-right: 0; }

.item-submenu h3 {
  font-size: 20px;
  font-weight: 800;
  color: #333333;
  margin-bottom: 15px; }
.item-submenu ul {
  display: block; }
  .item-submenu ul li {
    margin: 0 0 8px 0; }
    .item-submenu ul li:last-child {
      margin-bottom: 0; }
    .item-submenu ul li a {
      padding: 0;
      position: relative;
      font-weight: 400;
      font-size: 16px;
      color: #333333;
      display: flex;
      align-items: center; }
      .item-submenu ul li a i {
        margin-right: 10px;
        transition: .3s all !important; }
      .item-submenu ul li a:hover {
        color: #4D5FE3; }
        .item-submenu ul li a:hover i {
          margin-right: 20px; }

.item-srv {
  background: #FFFFFF;
  border-radius: 20px;
  height: 100%;
  box-shadow: 0px 0px 20px #19132f1a;
  display: flex;
  align-items: center;
  padding: 25px 12px;
  font-size: 15px;
  line-height: 1.4;
  color: #4F4F4F;
  border: 1px solid transparent;
  transition: .3s all !important; }
  .item-srv .icon {
    flex: 0 0 80px;
    margin-right: 20px; }
  .item-srv h5 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 8px; }
  .item-srv:hover {
    border: 1px solid #4D5FE3;
    box-shadow: 0px 8px 4px #4d5fe3; }

.box-srv {
  padding: 100px 0; }

.title {
  margin-bottom: 30px; }
  .title p {
    color: #4D5FE3;
    font-size: 20px;
    font-weight: 600; }
  .title h2 {
    color: #333;
    font-size: 44px;
    font-weight: 900; }
  .title .desc {
    color: #4F4F4F;
    font-size: 17px;
    margin-top: 15px; }

.search-sub {
  margin-bottom: 40px; }
  .search-sub .row {
    margin: 0 -10px; }
    .search-sub .row > div {
      padding: 0 10px; }

.item-search label {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 6px; }
.item-search input, .item-search select {
  border: 1px solid #BDBDBD;
  box-sizing: border-box;
  border-radius: 7px;
  height: 46px;
  width: 100%;
  padding: 0 12px;
  font-size: 16px;
  outline: none; }

.list-subject .row {
  margin: 0 -10px; }
  .list-subject .row > div {
    padding: 0 10px; }

.item-subject {
  background: #FFFFFF;
  box-shadow: 0px 5px 20px #1614361a;
  border-radius: 10px;
  overflow: hidden;
  font-size: 15px;
  margin-bottom: 30px; }
  .item-subject .avarta {
    overflow: hidden; }
    .item-subject .avarta img {
      transition: .4s all !important; }
      .item-subject .avarta img:hover {
        transform: scale(1.08); }
  .item-subject .info {
    padding: 15px; }
    .item-subject .info h3 a {
      display: block;
      font-size: 18px;
      font-weight: 800;
      margin-bottom: 10px; }
  .item-subject .view-more {
    margin-top: 15px; }
    .item-subject .view-more a {
      background: #F2F2F2;
      border-radius: 10px;
      height: 44px;
      font-size: 18px;
      font-weight: 700;
      align-items: center;
      justify-content: center;
      width: 100%;
      display: flex;
      color: #222b3c33; }
      .item-subject .view-more a:hover {
        background: #4D5FE3;
        color: #fff; }

.numb-sec {
  color: #4F4F4F;
  display: flex;
  align-items: center; }

.view-all a {
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  background: #4D5FE3;
  color: #fff;
  border-radius: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 70px;
  border: 1px solid #4D5FE3; }
  .view-all a:hover {
    background: #fff;
    color: #4D5FE3; }

.box-subject {
  padding-bottom: 50px; }
  .box-subject .tbale-calendar {
    border-bottom: 5px solid #F3F3F7;
    padding-bottom: 20px; }

.box-banner-content {
  padding: 80px 0;
  margin-bottom: 50px; }

.box-banner-content {
  color: #Fff; }

.content-bn h5 {
  font-size: 58px;
  font-weight: 900; }
  .content-bn h5 span {
    color: #4D5FE3; }
.content-bn h3 {
  color: #FFD45F;
  font-size: 58px;
  font-weight: 900;
  padding: 20px 0; }
.content-bn .desc {
  color: #F2F2F2;
  font-size: 18px;
  font-weight: 300; }

.slide-docs {
  margin: 0 -10px; }
  .slide-docs .item-slide {
    padding: 15px 10px; }

.item-docs {
  background: #EDEDF4;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 5px 20px #1614361a; }
  .item-docs .avarta {
    padding: 20px; }
  .item-docs .info {
    background: #fff;
    padding: 15px;
    font-weight: 700;
    font-size: 17px;
    color: #333333; }
    .item-docs .info a {
      display: block;
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 6px;
      line-height: 1.5; }

.box-docs {
  padding-bottom: 60px; }
  .box-docs .view-all {
    padding-top: 30px; }

.box-member {
  padding: 100px 0; }

.slide-member {
  margin: 0 -10px; }
  .slide-member .item-slide {
    padding: 0 10px; }

.box-blog {
  background: #F1F2F6;
  padding: 60px 0; }
  .box-blog .item-blog {
    box-shadow: unset; }

.item-memb {
  position: relative; }
  .item-memb .info {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #fff;
    background: #4D5FE3;
    border-radius: 10px;
    display: inline-flex;
    height: 41px;
    align-items: center;
    padding: 0 15px;
    font-weight: 700; }

.slide-blog {
  margin: 0 -10px; }
  .slide-blog .item-slide {
    padding: 0 10px; }

.item-blog {
  background: #fff;
  overflow: hidden;
  border-radius: 10px;
  font-size: 16px;
  box-shadow: 0px 4px 40px #19203c1a; }
  .item-blog .info {
    padding: 20px; }
    .item-blog .info p {
      margin-bottom: 10px;
      color: #4D5FE3; }
    .item-blog .info h3 a {
      color: #333333;
      font-size: 18px;
      font-weight: 800;
      display: block;
      line-height: 1.4;
      margin-bottom: 10px; }
    .item-blog .info .desc {
      color: #828282;
      font-size: 15px;
      line-height: 1.4;
      margin-bottom: 10px; }
  .item-blog .more-link a {
    color: #4D5FE3;
    font-size: 15px;
    font-weight: 800; }

.box-partner {
  padding: 50px 0; }

.box-arr-place {
  padding: 80px 0; }

.item-place {
  background: #FFFFFF;
  border: 1px solid #4D5FE3;
  box-sizing: border-box;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 15px 22px;
  color: #333333;
  font-size: 17px;
  box-shadow: 0px 5px 3px 1px #4d5fe3; }
  .item-place .icon {
    flex: 0 0 86px;
    text-align: center;
    display: flex;
    height: 86px;
    align-items: center;
    justify-content: center;
    background: #F2F2F2;
    border-radius: 100%;
    margin-right: 22px; }
  .item-place p {
    font-size: 24px;
    font-weight: 700;
    color: #4D5FE3;
    line-height: 1.2; }

.fom-contact {
  padding: 0 0 80px 0; }

.txt-contact {
  padding-right: 100px; }
  .txt-contact h2 {
    font-size: 34px;
    font-weight: 900; }
  .txt-contact .desc {
    font-size: 18px;
    padding: 15px 0; }
  .txt-contact ul {
    font-size: 18px;
    list-style: none;
    display: flex;
    align-items: center; }
    .txt-contact ul li {
      margin-right: 25px; }
      .txt-contact ul li:last-child {
        margin-right: 0; }
    .txt-contact ul a {
      color: #4D5FE3;
      opacity: 0.6; }
      .txt-contact ul a:hover {
        opacity: 1; }

.frm-contact .row {
  margin: 0 -9px; }
  .frm-contact .row > div {
    padding: 0 9px;
    margin-bottom: 18px; }
    .frm-contact .row > div:last-child {
      margin-bottom: 0; }
.frm-contact .txt_field {
  width: 100%;
  background: #F3F3F7;
  border: 1px solid #CCCEE2;
  box-sizing: border-box;
  border-radius: 7px;
  height: 46px;
  padding: 0 15px; }
.frm-contact textarea {
  width: 100%;
  background: #F3F3F7;
  border: 1px solid #CCCEE2;
  box-sizing: border-box;
  border-radius: 7px;
  height: 150px;
  padding: 10px 15px;
  outline: none; }
.frm-contact .btn_field {
  background: #4D5FE3;
  border-radius: 10px;
  height: 51px;
  cursor: pointer;
  border: 0;
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  padding: 0 55px; }

.maps {
  display: flex;
  align-items: center;
  width: 100%; }
  .maps iframe {
    width: 100%;
    height: 500px; }

.error-pages {
  padding: 170px 0;
  color: #fff;
  font-size: 24px; }
  .error-pages ul {
    list-style: none;
    padding-left: 44px;
    border-left: 22px solid #fff; }
  .error-pages h2 {
    margin-bottom: 25px; }
  .error-pages h3 {
    font-size: 80px;
    font-weight: 700;
    position: relative;
    top: -20px; }
  .error-pages p {
    padding: 0 0 20px 0;
    position: relative;
    top: -5px; }
  .error-pages a {
    display: inline-flex;
    height: 51px;
    border-radius: 8px;
    background: #fff;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    color: #4D5FE3;
    padding: 0 65px; }

.box-pages {
  padding: 40px 0; }

.content-detail {
  font-size: 16px; }

.social-bar {
  position: sticky;
  top: 10px; }
  .social-bar ul {
    list-style: none; }
    .social-bar ul li {
      margin-bottom: 10px; }
      .social-bar ul li:last-child {
        margin-bottom: 0; }
  .social-bar a {
    color: #4F4F4F;
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background: #E0E0E0;
    align-items: center;
    justify-content: center; }
    .social-bar a:hover {
      color: #fff;
      background: #4D5FE3; }

.info-detail h2, .info-detail h3, .info-detail h4, .info-detail h5, .info-detail h6 {
  margin-bottom: 20px;
  font-weight: 600; }
.info-detail p {
  margin-bottom: 15px; }
  .info-detail p a {
    color: #4D5FE3; }
.info-detail img {
  max-width: 100%;
  height: auto !important; }
.info-detail ul {
  padding-left: 18px;
  margin-bottom: 20px; }
  .info-detail ul li {
    margin-bottom: 10px; }

.content-table {
  border: 1px solid #BDBDBD;
  background: #fff;
  padding: 22px;
  color: #333333;
  margin-bottom: 20px; }
  .content-table h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px; }
  .content-table a {
    display: block;
    margin-bottom: 10px;
    position: relative;
    padding-left: 30px; }
    .content-table a span {
      font-weight: 700;
      position: absolute;
      left: 0;
      top: 0; }
    .content-table a.active {
      color: #4D5FE3; }
  .content-table ul {
    list-style: none; }
    .content-table ul ul {
      padding-left: 30px; }

.bar-register {
  background: #FFFFFF;
  box-shadow: 0px 4px 80px #5a6ba526;
  border-radius: 15px;
  padding: 30px 18px;
  margin-bottom: 20px; }
  .bar-register h3 {
    color: #333333;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 15px; }

.frm-regis .item-regis {
  margin-bottom: 12px; }
  .frm-regis .item-regis:last-child {
    margin-bottom: 0; }
  .frm-regis .item-regis .txt_field {
    background: #4d5fe31a;
    border: 1px solid #00000000;
    border-radius: 7px;
    padding: 0 15px;
    height: 36px;
    width: 100%; }
  .frm-regis .item-regis textarea {
    background: #4d5fe31a;
    border: 1px solid #00000000;
    border-radius: 7px;
    padding: 10px 15px;
    height: 63px;
    width: 100%;
    outline: none; }
  .frm-regis .item-regis .btn_field {
    background: #4D5FE3;
    border: 1px solid #4D5FE3;
    border-radius: 7px;
    padding: 0 15px;
    height: 47px;
    width: 100%;
    cursor: pointer;
    color: #fff;
    font-weight: 600; }

.bar-support {
  font-size: 16px;
  color: #4F4F4F; }
  .bar-support h3 {
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 13px;
    color: #333333; }
  .bar-support ul {
    list-style: none;
    font-weight: 600; }
    .bar-support ul li {
      margin-bottom: 6px;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .bar-support ul li:last-child {
        margin-bottom: 0; }
      .bar-support ul li label {
        color: #4D5FE3; }

.box-benefit {
  padding: 40px 0; }

.list-ben .row {
  margin: 0 -12px; }
  .list-ben .row > div {
    padding: 12px 12px; }

.item-ben {
  color: #333333;
  font-weight: bold;
  font-size: 20px;
  background: #EBEDF7;
  border-radius: 10px;
  height: 100%;
  padding: 22px;
  line-height: 1.3; }
  .item-ben .numb {
    font-size: 40px;
    font-weight: 900;
    color: #4D5FE3;
    margin-bottom: 5px; }
  .item-ben span {
    color: #4D5FE3; }

.bar-right {
  position: relative;
  background: #fff;
  z-index: 2;
  margin-top: -80px;
  border-radius: 15px; }

.item-commit {
  font-size: 20px;
  font-weight: 600;
  display: flex;
  position: relative;
  margin-bottom: 30px;
  line-height: 1.4; }
  .item-commit .icon {
    flex: 0 0 28px;
    margin-right: 20px; }

.content-commit {
  border-top: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;
  padding: 40px 0 20px 0;
  margin-bottom: 40px; }

.list-thumb {
  margin-bottom: 24px; }
  .list-thumb .row {
    margin: 0 -5px; }
    .list-thumb .row > div {
      padding: 5px; }
  .list-thumb .avr-thumb {
    margin-bottom: 10px; }
    .list-thumb .avr-thumb:last-child {
      margin-bottom: 0; }

.info-title ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .info-title ul li {
    display: flex;
    font-size: 16px;
    font-weight: 600;
    align-items: center; }
.info-title .icon {
  display: flex;
  align-items: center; }
.info-title .desc {
  position: relative;
  margin-left: 14px; }

.info-title {
  padding: 20px 0;
  border-top: 5px solid #F3F3F7;
  border-bottom: 5px solid #F3F3F7; }

.title-less h1 {
  color: #333333;
  font-size: 30px;
  font-weight: 900;
  line-height: initial;
  padding: 20px 0; }

.list-box-less {
  font-size: 16px; }
  .list-box-less ul {
    list-style: none; }

.item-less-box {
  padding: 25px 0;
  border-bottom: 5px solid #F3F3F7; }
  .item-less-box p {
    margin-bottom: 15px; }
  .item-less-box ul {
    margin-bottom: 15px; }
    .item-less-box ul li {
      margin-bottom: 8px;
      position: relative;
      padding-left: 30px; }
      .item-less-box ul li:after {
        content: "";
        width: 14px;
        height: 14px;
        background: url(../images/check.png) no-repeat center;
        background-size: contain;
        border-radius: 100%;
        position: absolute;
        top: 5px;
        left: 0; }
  .item-less-box .title-ctn-less {
    color: #333333;
    font-size: 26px;
    font-weight: 800;
    margin-bottom: 10px; }
  .item-less-box .more-less a {
    color: #4D5FE3;
    font-weight: 600; }

.other-less {
  border-top: 5px solid #F3F3F7;
  padding-top: 25px;
  margin-top: 25px; }
  .other-less h3 {
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 17px; }

.item-other {
  display: flex;
  border-bottom: 1px solid #E0E0E0;
  padding-bottom: 20px;
  margin-bottom: 20px; }
  .item-other:last-child {
    border-bottom: 0px solid #E0E0E0;
    padding-bottom: 00px;
    margin-bottom: 00px; }
  .item-other .avarta {
    margin-right: 20px;
    flex: 0 0 140px;
    border-radius: 5px;
    overflow: hidden; }
  .item-other .info h3 {
    margin-bottom: 10px; }
  .item-other .info a {
    display: block;
    font-size: 16px;
    font-weight: 700;
    color: #333333; }
  .item-other .date {
    display: flex;
    align-items: center;
    color: #4F4F4F; }
    .item-other .date svg {
      margin-right: 7px; }

.blog-cate {
  padding: 30px 0; }

.search-blog {
  margin-bottom: 30px; }
  .search-blog h3 {
    font-size: 30px;
    font-weight: 700; }

.list-blog .col-md-4 {
  margin-bottom: 30px; }

.load-more a {
  display: inline-flex;
  height: 51px;
  background: #4D5FE3;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  padding: 0 60px;
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  border: 1px solid #4D5FE3; }

.tags-blog span {
  font-size: 18px;
  font-weight: 700; }
.tags-blog a {
  color: #828282;
  font-size: 15px;
  border: 1px solid #E0E0E0;
  border-radius: 6px;
  display: flex;
  align-items: center;
  height: 30px;
  padding: 0 14px; }
  .tags-blog a:hover {
    background: #4D5FE3;
    color: #fff; }

.other-blog {
  padding: 30px 0;
  border-top: 5px solid #F3F3F7;
  margin-top: 30px; }
  .other-blog .title-other-blog {
    color: #333333;
    margin-bottom: 25px;
    font-size: 26px;
    font-weight: 700; }

.thumb-blog {
  padding: 0 0 25px 0; }

.title-blog-detail {
  padding: 25px 0; }
  .title-blog-detail h1 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 18px; }
  .title-blog-detail ul {
    display: flex;
    font-size: 16px;
    list-style: none;
    color: #828282;
    font-weight: 300; }
    .title-blog-detail ul li {
      margin-right: 25px;
      padding-right: 25px;
      position: relative; }
      .title-blog-detail ul li:after {
        content: "|";
        position: absolute;
        right: 0;
        top: 0; }
      .title-blog-detail ul li:last-child {
        margin-right: 0;
        padding-right: 0;
        border-right: 0; }
        .title-blog-detail ul li:last-child:after {
          display: none; }
      .title-blog-detail ul li .author {
        font-weight: 700;
        color: #4D5FE3; }

.books-cate {
  padding: 30px 0; }

.list-books .row {
  margin: 0 -10px; }
  .list-books .row .col-md-3 {
    margin-bottom: 20px; }

.tbale-calendar a {
  color: #4D5FE3; }
.tbale-calendar tr td {
  border-top: 2px solid #F3F3F7;
  padding: 10px 10px 10px 0; }
.tbale-calendar th {
  padding: 10px 10px 10px 0; }
.tbale-calendar .view-table a {
  display: inline-flex;
  background: #4D5FE3;
  border-radius: 10px;
  color: #fff;
  font-size: 14px;
  align-items: center;
  padding: 0 20px;
  height: 36px; }

.loadmore-less {
  padding-top: 40px; }
  .loadmore-less a {
    background: #4D5FE3;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    padding: 0 60px;
    height: 50px;
    color: #fff;
    font-size: 18px;
    font-weight: 700; }

.book-detail-page {
  padding: 45px 0; }

.item-book-info h1 {
  font-size: 40px;
  font-weight: 900;
  line-height: initial; }
.item-book-info .code-info {
  padding: 15px 0; }
  .item-book-info .code-info ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none; }
    .item-book-info .code-info ul li {
      margin-right: 30px;
      padding-right: 30px;
      border-right: 1px solid #E0E0E0; }
      .item-book-info .code-info ul li:last-child {
        margin-right: 0;
        padding-right: 0;
        border-right: 0 solid #E0E0E0; }
      .item-book-info .code-info ul li span {
        font-weight: 800;
        padding-left: 10px; }

.price-book {
  background: #F3F3F7;
  padding: 15px; }
  .price-book p {
    color: #4D5FE3;
    font-size: 36px;
    font-weight: 800;
    line-height: initial; }
  .price-book del {
    font-size: 20px;
    color: #828282;
    font-weight: 600; }

.quatity {
  font-size: 18px;
  color: #333333;
  margin-top: 15px; }
  .quatity p {
    margin-bottom: 10px; }

.number-spinner {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 15px; }
  .number-spinner .pl-ns-value {
    background: #F2F2F2;
    border-radius: 10px;
    text-align: center;
    border: 0;
    height: 45px;
    width: 140px;
    margin: 0 6px;
    color: #000000; }
  .number-spinner .icon-quant {
    color: #4D5FE3;
    display: inline-flex;
    width: 45px;
    height: 45px;
    background: #F2F2F2;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    padding: 0 0 6px 0;
    border-radius: 7px; }

.btn-book {
  font-size: 18px; }
  .btn-book span {
    font-weight: 800; }
  .btn-book a {
    background: #4D5FE3;
    border-radius: 10px;
    display: inline-flex;
    width: 330px;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 15px; }

.item-book-info {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 5px solid #F3F3F7; }
  .item-book-info:last-child {
    margin-bottom: 0;
    padding-bottom: 0; }

.txt-book h3 {
  line-height: initial;
  font-size: 26px;
  font-weight: 800;
  color: #333333;
  margin-bottom: 20px; }
.txt-book .viewmore {
  margin-top: 15px; }
  .txt-book .viewmore a {
    color: #4D5FE3;
    font-size: 18px;
    font-weight: 600; }

.other-books {
  padding-top: 30px;
  margin-top: 30px;
  border-top: 5px solid #F3F3F7; }
  .other-books .title-other {
    font-size: 26px;
    font-weight: 800;
    margin-bottom: 20px; }

.slide-book {
  margin: 0 -10px; }
  .slide-book .item-slide {
    padding: 0 10px 10px 10px; }

.box-account {
  padding: 0 0 40px 0; }

.avatar-upload {
  position: relative;
  max-width: 205px;
  margin: 50px auto; }
  .avatar-upload .avatar-edit {
    position: absolute;
    right: 12px;
    z-index: 1;
    top: 10px; }
    .avatar-upload .avatar-edit input {
      display: none; }
      .avatar-upload .avatar-edit input + label {
        display: inline-block;
        width: 34px;
        height: 34px;
        margin-bottom: 0;
        border-radius: 100%;
        background: #FFFFFF;
        border: 1px solid transparent;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
        cursor: pointer;
        font-weight: normal;
        transition: all .2s ease-in-out; }
        .avatar-upload .avatar-edit input + label:hover {
          background: #f1f1f1;
          border-color: #d6d6d6; }
        .avatar-upload .avatar-edit input + label:after {
          content: "\f040";
          font-family: 'FontAwesome';
          color: #757575;
          position: absolute;
          top: 10px;
          left: 0;
          right: 0;
          text-align: center;
          margin: auto; }
  .avatar-upload .avatar-preview {
    width: 140px;
    height: 140px;
    position: relative;
    border-radius: 100%;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.1); }
    .avatar-upload .avatar-preview > div {
      width: 100%;
      height: 100%;
      border-radius: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; }

.clc-upload-inp label {
  margin: 12px 0;
  text-align: center;
  cursor: pointer; }
  .clc-upload-inp label span {
    display: inline-flex;
    height: 32px;
    align-items: center;
    justify-content: center;
    min-width: 92px;
    font-size: 15px;
    color: #333333;
    font-weight: 500;
    background: #F2F2F2;
    border-radius: 7px; }
.clc-upload-inp ul {
  list-style: none;
  color: #828282;
  font-size: 14px;
  font-weight: 600; }

.tab-account {
  border-bottom: 1px solid #E0E0E0;
  padding-bottom: 20px;
  margin-bottom: 40px; }
  .tab-account ul {
    list-style: none;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 700; }
    .tab-account ul li {
      margin-right: 50px; }
      .tab-account ul li:last-child {
        margin-right: 0; }
  .tab-account a {
    position: relative; }
    .tab-account a:after {
      content: "";
      width: 100%;
      height: 3px;
      background: #4D5FE3;
      position: absolute;
      left: 0;
      bottom: -26px;
      transition: .3s all !important;
      opacity: 0; }
    .tab-account a.active {
      color: #4D5FE3; }
      .tab-account a.active:after {
        opacity: 1; }

.box-form-acc .item-frm {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 18px; }
  .box-form-acc .item-frm:last-child {
    margin-bottom: 0; }
  .box-form-acc .item-frm .txt_field {
    border: 1px solid #CCCEE2;
    height: 46px;
    padding: 0 15px;
    border-radius: 7px;
    width: 100%;
    flex: 0 0 580px; }
  .box-form-acc .item-frm textarea {
    border: 1px solid #CCCEE2;
    height: 150px;
    border-radius: 6px;
    flex: 0 0 580px;
    width: 100%; }
  .box-form-acc .item-frm label {
    flex: 0 0 calc(100% - 580px); }
  .box-form-acc .item-frm .btn_field {
    cursor: pointer;
    border: 0;
    background: #4D5FE3;
    height: 50px;
    border-radius: 10px;
    padding: 0 50px;
    font-weight: bold;
    color: #fff; }
.box-form-acc .note {
  color: #EB5757;
  font-style: italic; }

.list-ac-less .col-md-6 {
  padding: 15px; }

.item-ac-less {
  background: #FFFFFF;
  box-shadow: 0px 5px 20px #1614361a;
  border-radius: 10px;
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative; }
  .item-ac-less .avarta {
    flex: 0 0 200px;
    margin-right: 18px; }
  .item-ac-less .info h3 a {
    color: #000000;
    font-size: 18px;
    font-weight: bold; }
  .item-ac-less .info .date {
    padding: 10px 0; }
  .item-ac-less .info span {
    font-weight: 600; }
  .item-ac-less .rev {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2; }
    .item-ac-less .rev a {
      display: inline-flex;
      background: #4D5FE3;
      width: 30px;
      height: 30px;
      align-items: center;
      justify-content: center;
      border-radius: 100%; }

.tab-content {
  display: none; }
  .tab-content.active {
    display: block; }

.bread-acc {
  position: relative;
  z-index: 2;
  margin-top: -120px; }

.info-bread-acc {
  display: flex;
  align-items: center; }
  .info-bread-acc .avarta {
    flex: 0 0 145px;
    margin-right: 28px; }
    .info-bread-acc .avarta img {
      width: 100%;
      height: 145px;
      border-radius: 100%;
      object-fit: cover; }
  .info-bread-acc .info {
    font-size: 30px;
    font-weight: 900; }

.modal-dialog {
  max-width: 100%;
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .modal-dialog .modal-content {
    border: 0;
    background: transparent;
    padding: 0; }
  .modal-dialog .modal-body {
    padding: 0; }

.content-popup {
  background: #fff;
  max-width: 465px;
  margin: 0 auto;
  border-radius: 10px;
  width: 100%;
  position: relative;
  padding: 35px 50px;
  font-size: 17px; }
  .content-popup h3 {
    font-size: 34px;
    font-weight: 900;
    text-align: center;
    text-transform: unset !important;
    margin-bottom: 20px; }

.frm-popup .item {
  margin-bottom: 15px; }
  .frm-popup .item:last-child {
    margin-bottom: 0; }
  .frm-popup .item a {
    color: #4D5FE3;
    font-weight: 600; }
  .frm-popup .item .txt_field {
    border: 1px solid #0000001a;
    box-sizing: border-box;
    border-radius: 7px;
    height: 46px;
    width: 100%;
    padding: 0 15px;
    background: #4d5fe31a; }
  .frm-popup .item .btn_field {
    cursor: pointer;
    border: 0;
    background: #4D5FE3;
    height: 50px;
    color: #fff;
    font-weight: 800;
    font-size: 18px;
    padding: 0 40px;
    border-radius: 10px; }

/*# sourceMappingURL=style.css.map */
